
.filterPipeline {
    -fx-padding: 0px;
}

.filterPipeline .list-cell{
    -fx-border-width:  0 0 0.2 0 ;
    -fx-border-color: gray;
}

.filterPipeline .list-cell .label{
    -fx-text-fill: black;
}


.filterPipeline .list-cell:empty{
    -fx-background-color: white;
    -fx-border-width: 0;
}
